html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: wheat;
}


.dropdowns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 50px;
}

.slogan-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.slogan-input button {
    background-color: yellow;
    border: solid 1px yellow;
    cursor: pointer;
}

.slogan-output {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.images {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

.skyline, .waterfront, .castle {
    max-height: 300px;
    width: auto;
    margin: 20px;
}